nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #827d63;
    padding: 20px 80px ;
    box-shadow: 0 5px 15px rgb(0, 0 , 0, 0.06);
}
#navbar{
    display: flex;
    align-items: right;
    justify-content: right;
    
    }
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}


#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(252, 253, 253);
    transition: 0.3s ease-in-out;


}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(30, 194, 120);
}


#navbar li a:hover:after,
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(30, 194, 120) ;
    position: absolute;
    top: -4;
    left: 30px;

}

#mobile {
    display: none;

}

#mobile i{
    color:aliceblue ;
    align-items: center;

}


@media screen and (max-width:767px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed; 
        top:90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #827d63;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding:40px 0 0 10px ;
        transition: 0.3s ease-in-out;

    }
    #navbar.active{
        right:0;
    }


    #navbar li {
        margin-bottom:25;
    }
    #mobile {
        display: block;
    }  
    
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }

} 



